[init]
	defaultBranch = master

[user]
	email = nimai.m.patel@gmail.com
	name = nimai

[grep]
	lineNumber=true
	column=true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
